:root{
    --lightblue: #78BDC4;
    --superlightblue:#D6E4ED;
    --darkblue: #25384B;
    --offwhite: #f7f8f3;
    --red: #f8444f;
    --white: #ffffff;
    --black: #000000;
    --lightgrey: #F3F2ED;
    --darkgrey: #1a1a1a;
    --grey: #7c7c7c;
    --lineColor:#cfcfcf;
    --mutedblue: #D6E4ED;
    --sidebar-width: 91.6666667%;
    --button-size: 35px;
    --button-extra-size: 1.5rem;
    --button-margin: 5px;
}

@font-face {
    font-family: 'Glimer';
    src: local('Glimer Regular'), local('Glimer-Regular'),
        url('assets/Gilmer-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Goldplay';
    src: local('Goldplay SemiBold'), local('Goldplay-SemiBold'),
        url('assets/Goldplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: Glimer, Verdana;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    letter-spacing: -.02em;
}

h1,h2,h3,h4,h5,h6, h1 span {
    font-family: Goldplay, Verdana;
    font-weight: 600;
}

h1{
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 2rem;
}

h2{
    font-size: 2.5rem;
}
h3 {
    font-size: 1.7rem;
}

p, li {
    font-family : Glimer, Verdana;
    font-size: 1.5rem;
}
ul{
    list-style-position: inside;
}
.sidebar-text h1{
    font-size: 5rem;
    margin: 0 0 2.5rem 0;
    line-height: 5rem;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--fontColor); /* fontColor is a variable defined in light-theme/dark-theme */
    background-color: var(--bg);
}

.header{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.header-image{
    width: 70%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}

#backgroundWhisps{
    right: -12%;
}

#foregroundClouds{
    right: -10%;
}

.doodle-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.third{
    display: none;
}
#aboutmebuttons{
    margin-top: 30px;
}

.doodle-img {
    max-width: 100%; /* Make sure the images do not overflow their container */
    height: auto; /* Maintain the aspect ratio of the images */
    flex-shrink: 1; /* Allow the images to shrink if necessary */
}
.doodle-img img{
    max-height: 250px;
    object-fit: contain;
    width:100%;
    height:auto;
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fade-fast {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fade-right-slow {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes right-scroll-out{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-50px);
    }
}


@keyframes idle {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-30px);
    }
    100% {
        transform: translateX(0px);
    }
}

@media (prefers-reduced-motion: no-preference){
    #backgroundWhisps{
        animation: fade-right .5s 0.2s backwards,
                    idle 10s 1.3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    }
    #foregroundClouds{
        animation: fade-right 0.3s 0.2s backwards,
                    idle 7s 1s infinite cubic-bezier(0.4, 0, 0.2, 1);
    }
    .sidebar-text{
        animation: fade-up 0.4s;
    }
    .buttons-container{
        animation: fade-right-slow 0.2s .6s backwards;
    }
    .endingflexcontainer .buttons-container{ 
        animation: none;
    }

    .theme-btn{
        animation: fade-right-slow 0.2s .6s backwards;
    }
    .hidden {
        opacity:0;
        transition: all .5s ease-out;
        transform: translateY(50px) scale(0.9);
    }
    .hidden#aboutmebuttons{
        transform: scale(0.9);
    }
    .right.hidden {
        opacity:0;
        transform: translateY(0px) scale(1);
    }
    .left.hidden {
        opacity:0;
        transform: translateY(0px) scale(1);
    }
    .show#aboutmebuttons{
        transform: scale(1);
    }
    .show {
        opacity:1;
        transform: translateY(0px) scale(1);
    }
    .right.show {
        opacity: 1;
        animation: fade-fast .5s 0.2s ease backwards;
    }
    .left.show{
        opacity: 1;
        animation: fade-left .5s 0.2s ease backwards;
    }

    a:focus .button{
        background-color: var(--buttonHoverColor);
        width: calc( (6 * (var(--button-size) + var(--button-margin))));
        stroke: var(--buttonColor);
    }
    a:focus .buttons-container-container .button{
        width: calc( (4.7 * (var(--button-size) + var(--button-margin))));
    }
    .projects a:focus .button{
        background-color: var(--buttonHoverColor);
        stroke: var(--buttonColor);
        color: var(--buttonColor);
        --linkColor: var(--buttonColor);
    }
    a:focus .endingflexcontainer .button{
        background-color: var(--buttonHoverColorContact);
        stroke: var(--buttonColorContact);
    }
}

@media (prefers-reduced-motion: reduce){
    a:focus .button {
        box-shadow:  0px 0px 0px 5px var(--accentColor);
    }
}

@media (min-width: 1000px) and (prefers-reduced-motion: no-preference) {
    .mask{
        --mask: radial-gradient(circle at var(--x, 70%) var(--y, 50%), black 25%, transparent 0);
        -webkit-mask-image: var(--mask);
        mask-image: var(--mask);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .mask:hover{
        opacity: 1;
    }
    .magnifying-glass{
        position: relative;
        color: var(--fontColor);
    }
    .magnifying-glass::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute; 
        top: 0;             
        left: 0;            
        transition: opacity 0.3s ease;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2325384B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center; 
    }
    .dark-theme .magnifying-glass::before{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23F3F2ED' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    }
    .magnifying-glass:hover::before {
        opacity: 0; 
    }
    .doodle-img img{
        max-height: 320px;
    }
    #aboutmebuttons {
        margin-top: 80px;
    }
}



.sidebar-container{
    width: var(--sidebar-width);
    margin-left: 4.1666667%;
    height: 100vh; /* should probs change later lol */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-text{
    text-align: center;
    width: 100%;
    font-size: 120%;
}
/* .sidebar-content{
    flex-direction: column;

} */


.buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.about-me-container .buttons-container{
    margin:auto;
}
.content-container .buttons-container{
    justify-content: left;
}
.buttons-container-container{
    max-width:300px;
}

.project-details .buttons-container{
    margin-top: 30px;
}
.button{
    background-color: var(--buttonColor);
    height: calc( var(--button-extra-size) + var(--button-size));
    width: calc( (var(--button-extra-size) + var(--button-size)) * 1.9);
    border-radius: calc(var(--button-extra-size) + var(--button-size));
    transition:ease;
    transition-duration: .7s;
    margin-right: var(--button-margin);
    display:  inline-block;
    stroke: var(--buttonHoverColor);
    padding-top: calc(var(--button-extra-size)/2);
}
.last-button{
    margin-right: 0px;
} 


svg{
    display: block;
    margin: auto;
    margin-top: 5px;
}
.theme-btn{
    position: absolute;
    height: calc( var(--button-extra-size) + var(--button-size) );
    width: calc(((var(--button-extra-size) + var(--button-size) )* 2));
    border-radius: calc(var(--button-extra-size) + var(--button-size));
    top: 10px;
    left: 4.1666667%;
    color: var(--themeBtnFontColor);
    background-color: var(--themeBtnBg);
    transition:ease;
    transition-duration: .7s;
    cursor: pointer;
}
.inside-btn{
    height: calc( var(--button-extra-size) + var(--button-size) - 15px);
    width: calc(var(--button-extra-size) + var(--button-size) - 15px);
    border-radius: calc(var(--button-extra-size) + var(--button-size));
    margin: .5rem;
    background-color: var(--insideBtnColor);
    padding-top: calc((var(--button-extra-size) - 15px )/ 2);
    line-height: var(--button-size); 
    white-space: nowrap;
    font-size:smaller;
    transition: left .6s ease-in-out;
    position: relative;
}
.about-me-container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg);
    border-radius: var(--button-size) var(--button-size) 0 0;
}

.content{
    width: 91.6666667%;
    margin-left: 4.1666667%;
    height: 100%; /* should probs change later lol */
    display: block;
    font-size: 110%;
    /* background-color: var(--transparentwhite); */
    padding-top: 30px;
}


.content-container{
    width: 100%;
    background-color: var(--bg);
    border-radius: 0 0 var(--button-size) var(--button-size);
    padding-bottom: 50px;
    overflow-x: hidden;
}
.content h1{
    text-align: center;
    line-height: 140%;
    margin-bottom: 40px;
}
.content h2{
    margin-bottom: 30px;
}
.content p{
    margin-bottom: 20px;
}

hr{
    border-top: 1px solid var(--lineColor);
    margin-bottom: 50px;
    margin-top: 50px;
}
.projects hr{
    margin-bottom: 40px;
    margin-top: 40px;
}
.subtitle{
    color: var(--accentColor);
    font-size: 80%;
}
.project-demo{
    display: block;
    height: 100%;
    min-width: var(--sidebar-width);
    margin-bottom: 20px;
    text-align: center;
}

.graph3d-gif{
    height: 241px;
    width: 241px;
    margin-bottom: 10px;
}
.countdowntimer-gif{
    height: 140px;
    width: 240px;
    margin-bottom: 10px;
    margin-top: 4px;
}
.projects .button{
    background-color: var(--buttonColor);
    stroke: var(--buttonHoverColor);
    color: var(--buttonHoverColor);
    --linkColor: var(--buttonHoverColor);
}

.button a{
    color: var(--linkColor);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#more{
    display: none; 
}
#myBtn{
    background-color: var(--bg);
    color: var(--accentColor);
}
.project-summary{
    display: flex;
    flex-direction: column-reverse;
}
.left .project-summary {
    grid-column-gap: 6.25vh;
    grid-row-gap: 6.25vh;
    grid-template-columns: 1fr .5fr;
    flex-direction: column;
}
.demo-container{
    width: 100%;
    height: 100%;
    display:block;
    overflow:hidden;
}
.demo-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--button-size);
}

.demo-container video{
    width: 100%;
    border-radius: var(--button-size);
}

.flextobottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.endingflexcontainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    gap: 10px;
}
.ending{
    width:100%;
    text-align: center;
    font-family: Goldplay, Verdana;
    font-size: 1.5rem;
}

.endingflexcontainer .button{
    background-color: var(--buttonColorContact);
    stroke: var(--buttonHoverColorContact);
}
/* Larger than mobile */
@media (min-width: 1000px) {
    :root{
        --sidebar-width: 520px;
    }
    
    .endingflexcontainer{
        flex-direction: row;
        justify-content: space-between;
        margin: 1% 2%;
        width:96%;
    }
    .endingflexcontainer .buttons-container{
        justify-content: end;
    }
    .ending{
        text-align: left;
    }
    .sidebar-container{
        width: var(--sidebar-width);
        margin-left: 8.33333%;
        vertical-align: baseline;
    }
    .sidebar-text{
        width: 100%;
        margin-top: 1rem;
        text-align: justify;
    }
    .theme-btn{
        left: 10px;
    }
    .sidebar-container .buttons-container{
        width: 100%;
        justify-content: flex-start;
    }
    .projects .buttons-container{
        width: 100%;
        justify-content: left;
    }

    .demo-container{
        width: 100%;
        height: 100%;
        display:block;
        overflow:hidden;
        position:relative;
    }

    .about-me-container .buttons-container{
        padding: 0 20% 0 20%;
    }

    .demo-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: var(--button-size);
    }

    .demo-container video{
        width: 100%;
        border-radius: var(--button-size);
    }

    .content{
        margin-left: 16.6666667%;
        width: 66.66666667%;
    }

    .content-container .content {
        width: 100%;
        margin-left: 0%;
    }
    .project-summary{
        display: grid;
        width: 100%;
        margin: auto;
        padding: 0 2% 0 2%;
        grid-column-gap: 6.25vh;
        grid-row-gap: 6.25vh;
        grid-template-rows: auto;
        grid-template-columns: .5fr 1fr;
        grid-auto-columns: 1fr;
        min-height: 80vh;
    }
    .left .project-summary {
        grid-column-gap: 6.25vh;
        grid-row-gap: 6.25vh;
        grid-template-columns: 1fr .5fr;
    }
    .project-demo{
        display: block;
        height: 100%;
    }
    .project-details{
        display: block;
        height: 100%;
    }
    h1 {
        font-size: 5rem;
        line-height: 5rem;
    }
    .sidebar-text h1{
        font-size: 7.5rem;
        margin: 0 0 3.5rem 0;
        line-height: 7rem;
    }
    .doodle-img-container{
        flex-direction: row;
    }
    .third{
        display: block;
    }

    
}

.chelsea{
    color: var(--fontColor)
}
.zheng{
    color: var(--accentColor);
}


.move-right {
    left: calc(((var(--button-extra-size) + var(--button-size)))); /* Move to the right */
}
.move-left{
    left: 0%;
}

.sticky{
    position: sticky;
    top:0;
}

.project{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.first{
    z-index: 1;
}
.sticky::before {
    --alpha-value: calc((max(var(--scroll), 25) - 25) * .003);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, var(--alpha-value)); /* Semi-transparent black */
    pointer-events: none; 
    z-index: 1; /* Ensure this is above the parent content but below any overlaying elements */
}

.layer{
    position: relative;
    z-index: 20;
}

.contact{
    display: none; /* Hide initially */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: var(--bg);
    background-color: var(--fontColor);
    width: 100%;
    height: 100vh;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(37, 56, 75, var(--scrollBottom)); /* Semi-transparent black */
    pointer-events: none; 
    z-index: 1; /* Ensure this is above the parent content but below any overlaying elements */
}
.clear{
    height: calc((var(--button-extra-size) + var(--button-size)) * 3);
    pointer-events: none;
}

.light-theme{
    --bg: var(--lightgrey);
    --fontColor: var(--darkblue);
    --accentColor: var(--lightblue);
    --themeBtnBg: var(--darkblue);
    --themeBtnFontColor:var(--darkblue);
    --buttonColor: var(--darkblue);
    --buttonHoverColor: var(--superlightblue);
    --buttonColorContact: var(--lightgrey);
    --buttonHoverColorContact: var(--lightblue);
    --insideBtnPosition: right;
    --insideBtnColor: var(--lightgrey);
}

.dark-theme{
    --bg: var(--darkblue);
    --fontColor: var(--lightgrey);
    --accentColor: var(--lightblue);
    --themeBtnBg: var(--lightgrey);
    --themeBtnFontColor:var(--light);
    --buttonColor: var(--lightgrey);
    --buttonHoverColor: var(--lightblue);
    --buttonColorContact: var(--darkblue);
    --buttonHoverColorContact: var(--superlightblue);
    --insideBtnPosition: left;
    --insideBtnColor: var(--darkblue);
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* fixes sticky hover */
@media (hover: hover) and (prefers-reduced-motion: no-preference){
    .button:hover{
        background-color: var(--buttonHoverColor);
        width: calc( (6 * (var(--button-size) + var(--button-margin))));
        stroke: var(--buttonColor);
    }
    .buttons-container-container .button:hover{
        width: calc( (4.7 * (var(--button-size) + var(--button-margin))));
    }
    .projects .button:hover{
        background-color: var(--buttonHoverColor);
        stroke: var(--buttonColor);
        color: var(--buttonColor);
        --linkColor: var(--buttonColor);
    }
    .endingflexcontainer .button:hover{
        background-color: var(--buttonHoverColorContact);
        stroke: var(--buttonColorContact);
    }
}

button:focus.theme-btn{
    box-shadow:  0px 0px 0px 5px var(--accentColor);
}
:root{
    --scroll:0;
    --scrollBottom:1;
}