:root{
    --lightblue: #78bdc4;
    --superlightblue:#bdd7da;
    --darkblue: #012c3d;
    --offwhite: #f7f8f3;
    --red: #f8444f;
    --white: #ffffff;
    --black: #000000;
    --lightgrey: #fdfdfd;
    --darkgrey: #1a1a1a;
    --grey: #7c7c7c;
    --lineColor:#cfcfcf;
    --mutedblue: #98afc5;
    --sidebar-width: 91.6666667%;
    --button-size: 35px;
    --button-margin: 5px;
}

* {/*  "*" selector is a universial selector that applies to all page elements */
    font-family: Quicksand;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    color: var(--fontColor); /* fontColor is a variable defined in light-theme/dark-theme */
    background-color: var(--bg);
}
.header{
    width: 100%;
    height: 100%;
}
.header-image{
    width: 75%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    /* width: 75%;
    height: 100%;
    object-fit: cover;
    top: 0px;
    right:0px; */
}

.sidebar-container{
    width: var(--sidebar-width);
    margin-left: 4.1666667%;
    height: 100vh; /* should probs change later lol */
    display: flex;
    flex-direction: column;
    justify-content: center;
/* 
    position: sticky;
    display: flex;
    flex-direction: column; */
}
.sidebar-text{
    text-align: center;
    width: 100%;
    font-size: 120%;
    /* background-color: var(--lightblue); */
}
/* .sidebar-content{
    flex-direction: column;

} */


.buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* width: min-content; */
    justify-content:center;
}

.button{
    background-color: var(--buttonColor);
    height: var(--button-size);
    width: calc( var(--button-size)*1.5);
    border-radius: var(--button-size);
    transition:ease;
    transition-duration: .7s;
    margin-right: var(--button-margin);
    display:  inline-block;
    stroke: var(--buttonHoverColor);
}
.last-button{
    margin-right: 0px;
}
.button:hover{
    background-color: var(--buttonHoverColor);
    width: calc( var(--sidebar-width) - (2 * (var(--button-size) + var(--button-margin))));
    stroke: var(--buttonColor);
}

svg{
    display: block;
    margin: auto;
    margin-top: 5px;
}


.theme-btn{
    position: absolute;
    height: calc( 6px + var(--button-size));
    width: calc( (var(--button-size) * 2));
    border-radius: var(--button-size);
    top: 10px;
    left: 4.1666667%;
    color: var(--themeBtnFontColor);
    background-color: var(--themeBtnBg);

    transition:ease;
    transition-duration: .7s;
}
.inside-btn{
    height: var(--button-size);
    width: calc( 10px + var(--button-size));
    border-radius: var(--button-size);
    margin: 3px;
    float: var(--insideBtnPosition);
    background-color: var(--insideBtnColor);
    
    line-height: var(--button-size); 
    white-space: nowrap;
    font-size:smaller;
}

.content{
    width: 91.6666667%;
    margin-left: 4.1666667%;
    height: 100%; /* should probs change later lol */
    display: block;
    font-size: 110%;
    /* background-color: var(--transparentwhite); */
}

.content h1{
    text-align: center;
    line-height: 140%;
    margin-bottom: 40px;
}
.content h2{
    margin-bottom: 30px;
}
.content p{
    margin-bottom: 20px;
}

hr{
    border-top: 1px solid var(--lineColor);
    margin-bottom: 50px;
    margin-top: 50px;
}
.projects hr{
    margin-bottom: 40px;
    margin-top: 40px;
}
.subtitle{
    color: var(--accentColor);
    font-size: 80%;
}
.project-demo{
    display: block;
    height: 100%;
    min-width: var(--sidebar-width);
    margin-bottom: 20px;
    text-align: center;
}
.graph3d-gif{
    height: 241px;
    width: 241px;
    margin-bottom: 10px;
}
.countdowntimer-gif{
    height: 140px;
    width: 240px;
    margin-bottom: 10px;
    margin-top: 4px;
}
.projects .button{
    background-color: var(--buttonHoverColor);
    stroke: var(--buttonColor);
    --linkColor: var(--buttonColor);
}
.projects .button:hover{
    background-color: var(--buttonColor);
    stroke: var(--buttonHoverColor);
    --linkColor: var(--buttonHoverColor);
}
.button a{
    color: var(--linkColor);
}
.text-button{
    width: 100px;
}
.text-button .icon{
    display: inline-block;
    margin-left: 6px;
    margin-right: 5px;
    vertical-align: middle;
}
.text-button svg{
    margin-top: 0px;
}
.caption{
    display: inline-block;
    font-size: smaller;
    vertical-align: middle;
    height: var(--button-size);
    line-height: var(--button-size);
    margin-right: 5px;
}
.text-button-wrapper{
    width:100%;
    height: 100%;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#more{
    display: none; 
}
#myBtn{
    background-color: var(--bg);
    color: var(--accentColor);
}
/* Larger than mobile */
@media (min-width: 400px) {
    :root{
        --sidebar-width: 275px;
    }
    .sidebar-container{
        width: var(--sidebar-width);
        margin-left: 16.6666667%;
        vertical-align: baseline;
    }
    .sidebar-text{
        width: 100%;
        margin-left: 0px;
        font-size: 120%;
        text-align: justify;
        
    }
    .theme-btn{
        left: 10px;
    }
    .sidebar-container .buttons-container{
        width: 100%;
        justify-content: flex-start;
    }
    .content{
        margin-left: 16.6666667%;
        width: 66.66666667%;
    }
    .project-summary{
        display: flex;
    }
    .project-demo{
        margin-right: 5px;
    }
    .project-details{
        border-left: 1px solid var(--lineColor);
        padding-left: 15px;
    }
}



.light-theme{
    --bg: var(--lightgrey);
    --fontColor: var(--black);
    --accentColor: var(--lightblue);
    --themeBtnBg: var(--darkblue);
    --themeBtnFontColor:var(--darkblue);
    --buttonColor: var(--darkblue);
    --buttonHoverColor: var(--superlightblue);
    --insideBtnPosition: right;
    --insideBtnColor: var(--offwhite);
}

.dark-theme{
    --bg: var(--darkblue);
    --fontColor: var(--white);
    --accentColor: var(--lightblue);
    --themeBtnBg: var(--white);
    --themeBtnFontColor:var(--light);
    --buttonColor: var(--offwhite);
    --buttonHoverColor: var(--lightblue);
    --insideBtnPosition: left;
    --insideBtnColor: var(--darkblue);
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}